* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#main-header {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 24px;
    padding: 24px;
    margin-bottom: 32px;
    background: linear-gradient(90deg, #f08b4c 40%, #f6b64a 60%);
}

h1 {
    background-clip: text;
}

#calculator {
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 500px;
    margin: auto;
    padding: 8px;
    border-radius: 14px;
    background-color: #444444ce;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

#display {
    border: solid black 2px;
    border-radius: 4px;
    margin: 10px;
    flex: 0.75;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 48px;
    padding: 4px;
}

.btn-row {
    display: flex;
    flex: 1;
}

.btn {
    display: flex;
    background-color: #444444ce;
    justify-content: center;
    align-items: center;
    flex: 1;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 8px;
    font-size: 28px;
    font-weight: 700;
    background-color: white;
}

button:hover {
    opacity: 50%;
    border: solid black 2px;
}

.op-btn {
    background-color: #FFCC00;
}

.wide-btn {
    background-color: #DDDDDD;
    width: 220px;
}

#main-footer {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 32px;
}